* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color: grey;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calculator {
    background-color: black;
    color: white;
    border-radius: 3rem;
    box-shadow: 3px 4px 30px 2px rgb(157, 179, 78);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 500px;
  }
  .calculations {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: orange;
  }
  .operand {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: rgb(114, 201, 70);
  }
  .display {
    position: relative;
    font-size: 36px;
    text-align: right;
    padding: 25px;
    height: 70px;
    width: 100%;
  }
  .left-grid {
    width: 75%;
  }
  .right-grid {
    width: 25%;
  }
  button {
    font-size: 25px;
    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(157, 179, 78);
    outline: none;
  }
  .dark-grey {
    background-color: grey;
    color: white;
  }
  .special {
    background-color: #323232;
    color: white;
  }
  .extras {
    background-color: #eee;
    font-weight: bold;
  }
  button.long {
    border-radius: 50px;
    width: 130px;
  }
  .operations {
    background-color: orange;
  }